$colors: (
  light: (
    bg-color: #fff,
    text-color: rgb(71, 71, 71),
    br-color: rgb(71, 71, 71),
  ),
  dark: (
    bg-color: rgb(71, 71, 71),
    text-color: #fff,
    br-color: #fff,
  ),
);
