.slideContainer {
    overflow-x: hidden;
    position: relative;
  
    .slideList {
      transition: all 300ms ease 0s;
  
      .slide {
        display: table;
        float: left;
        width: 200px;
      }
    }
  
    .slideButton {
      display: flex;
      justify-content: space-between;
      position: absolute;
      opacity: 0.5;
      overflow: hidden;

      &:hover {
        opacity: 1;
        
      }
  
      .btn {
        transition: all 400ms ease 0s;
        border: none;
        background: none;
        cursor: pointer;
        position: relative;

        &:hover {
          transform: scale(1.5);
        }
      }
    }
  }